node_modules
npm-debug.log
dist
coverage
.git
.gitignore
.env
.env.local
.env.*.local
.vscode
.idea
*.swp
*.swo
*.log
.DS_Store
jest.config.cjs
tsconfig.test.json
tests/
**/*.test.ts
**/*.spec.ts
README.md
Звіт_з_Лр3_NodeJs.pdf
.github/

